@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
}


.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
    color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.counter{
	background: white;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	border-radius: 2rem;
}

.counter div{
	font-size: 2rem;
	cursor: pointer;
}
#count{
	font-size: 1.5rem;
	font-weight: bold;
	color: grey;
	transition: all .3s ease-in-out;
}